a img {
    border: 0;
}

html,
body,
div,
span,
ul,
ol,
li,
dl,
dd,
dt,
h1,
h2,
h3,
h4,
h5,
h6,
p,
q,
blockquote,
a,
b,
strong,
i,
label,
form,
fieldset,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
img,
object,
input {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    outline: none;
    font-style: normal;
}

::-ms-clear {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.ui-view-container {
    min-height: 100%;
    position: relative;
}

#outer {
    padding-bottom: 100px;
}

#tlo {
    height: 500px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    margin-bottom: 40px;
}

.row {
    margin-bottom: 0px !important;
    padding-bottom: 20px;
}

#adminHeader {
    height: 60px;
}

#mainHeader {
    height: 60px;
}

.brand-logo {
    height: 100%;
}

.brand-logo img {
    height: 95%;
    margin-top: 2%;
}

.button-collapse i {
    font-size: 150%;
}

.page {
    min-height: 300px !important;
    border: 1px solid #00b3b3;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding-top: 25px !important;
}

.subpage {
    padding-left: 0.75em !important;
    padding-right: 0.75em !important;
}

.centered {
    text-align: center;
}

.centered .row .col {
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.products img {
    max-width: 100px;
}

.categories img {
    max-width: 100px;
}

.optionsInTable {
    width: 150px;
}


/*.waves-effect {
    transition: none !important;
}*/

.btn,
.btn-large {
    transition: none !important;
    /*background-color: #00cc66 !important;*/
}

.buttonWithIcon {
    padding: 0 1rem !important;
}

.greenButton {
    background-color: #00b3b3 !important;
}

.greenButton:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    background-color: #009E9E !important;
}

input:not([type]),
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="time"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="tel"],
input[type="number"],
input[type="search"],
textarea.materialize-textarea {
    transition: none !important;
}

table.responsive-table th {
    min-width: 150px;
}

.scrollableTable {
    overflow-x: auto;
    max-width: 100%;
}

blockquote {
    text-align: left;
    font-size: 17px;
    border-left: 5px solid #ff6666 !important;
}

@media(max-width: 991px) {
    .scrollableTable td,
    .scrollableTable th {
        height: 150px;
    }
    .fixed-action-btn {
        right: 10px !important
    }
}

nav {
    background-color: #00b3b3 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0) !important;
}

nav .nav-wrapper {
    background-color: #00b3b3 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2) !important;
    z-index: 999;
}

button {
    background-color: #ff6666 !important;
    /* #ee6e73*/
}

button:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    background-color: #E85E5E !important;
}

.pagination li.active {
    background-color: #ff6666 !important;
}

.input-field .prefix.active {
    color: #00b3b3 !important;
}

.input-field label .active {
    color: #00b3b3 !important;
}

.input-field input[type=text]:focus + label {
    color: #00b3b3 !important;
}

.input-field input[type=email]:focus + label {
    color: #00b3b3 !important;
}

.input-field input[type=password]:focus + label {
    color: #00b3b3 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #00b3b3 !important;
    /*box-shadow: 0 1px 0 0 red !important*/
}

textarea:focus {
    border-bottom: 1px solid #00b3b3 !important;
    -webkit-box-shadow: 0 1px 0 0 #00b3b3;
    -moz-box-shadow: 0 1px 0 0 #00b3b3;
    box-shadow: 0 1px 0 0 #00b3b3;
}

textarea:focus + label {
    color: #00b3b3 !important;
}


/*.dropdown-content li > span{
    color: #00cc66 !important;
}*/


/*  /////   LANGUAGE PICKER   /////  */

.fixed-action-btn {
    position: relative !important;
    bottom: 0;
    float: right;
    top: -43px;
    padding-top: 0 !important;
    z-index: 999 !important;
    right: 10px !important;
}

.fixed-action-btn.active ul {
    bottom: unset;
}

.fixed-action-btn ul {
    margin-top: 6px !important;
}

.fixed-action-btn ul li {
    margin-bottom: 6px !important;
}

.btn-floating {
    background-size: 35px 44px !important;
    background-position: center !important;
    height: 32px !important;
    width: 32px !important;
}

#lang-items {
    width: 60px;
    position: relative;
    float: right;
    right: 5px;
    cursor: pointer;
    z-index: 999;
}

#lang-arrow {
    width: 18px;
    height: 22px;
    position: relative;
    top: -38px;
    z-index: 999 !important;
    color: #fff;
}


/* -------------------------- */

.loader-wrapper {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    background-color: rgb(250, 250, 250);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.history-img {
    margin-top: 30px;
    text-align: center;
}

.center-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 113px;
    width: 88px;
}

.category-name {
    padding: 5px;
}

.category-card {
    cursor: pointer;
    height: 200px;
}

.category-card:hover {
    outline: 1px solid #00b3b3;
    /* #26a69a */
}

.main-category-image {
    width: 170px !important;
    height: 130px !important;
}

.all-category {
    text-align: center;
    line-height: 200px;
}

.categories-tree {
    background-color: #00b3b3 !important;
}

.category-tree-divider {
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.chip {
    border-radius: 6px !important;
}

.chip img {
    border-radius: 5px !important;
}

.shopping-basket-img {
    width: 55px!important;
    height: 40px !important;
    float: left;
}

.carousel {
    top: -40px;
}

.carousel .carousel-item {
    padding-top: 10px;
    margin-top: 45px;
}

.carousel-item img {
    height: 44%;
    border: 2px solid #00b3b3 !important;
    border-radius: 10px;
}

.shopping-basket-p-name {
    margin-left: 5px;
    line-height: 40px;
}

.shopping-basket-td {
    line-height: 35px;
    padding: 8px 5px !important;
}

.shopping-basket-td-qty {
    line-height: 35px;
    padding: 8px 5px !important;
}

.shopping-basket-p-qty {
    float: left;
}


/*   ///////   FEATURES   ///////    */

.featured-products p {
    color: #00b3b3;
}

.featured-products p:hover {
    color: #009E9E;
}

.features-product {
    width: 100% !important;
    text-align: center;
}

.features-product .card-content img {
    width: 20%;
}

.feature-table {
    margin-top: 20px;
}

.feature-table td {
    border: 1px solid #d0d0d0;
}

.feature-circle {
    width: 55px!important;
    height: 40px !important;
    margin-bottom: -15px;
}

.feature-img {
    margin-top: 30px;
    text-align: left;
}


/*  //////   MAIN PRODUCTS   ///////   */

.more-product {
    width: 100% !important;
    text-align: center;
}

.single-product-table {
    margin-top: 20px;
}

.single-product-table td {
    border: 1px solid #d0d0d0;
}

.single-product-image {
    width: 500px;
    height: 350px;
}

.single-product-left {
    float: left !important;
}

.single-product-input {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#single-product-name {
    font-size: 1.90rem;
}

.card-content {
    padding: 10px !important;
}

.tabs {
    overflow-y: visible !important;
    overflow-x: visible !important;
}

.tabs .tab a {
    padding: 0px !important;
    font-size: 13px !important;
    font-weight: 500;
}

.product-name {
    height: 52px;
    max-height: 70px;
    padding: 5px;
}

.product-card {
    cursor: pointer;
    height: 260px;
}

.product-card:hover {
    outline: 1px solid #00b3b3;
}

.card-panel {
    padding: 8px !important;
    color: #222222;
    border: 1.5px solid #00b3b3;
    width: 100% !important;
    height: 70px;
    text-align: center;
}

.card-panel:hover {
    background-color: #00b3b3 !important;
    color: #fff;
}

.card-panel p {
    margin-top: -7px;
}

.active-category {
    background-color: #00b3b3 !important;
    color: #fff;
}

.main-products-card-content {
    height: 155px;
}

.circle {
    width: 40px!important;
    height: 40px !important;
    margin-top: -4px;
    border-radius: 20%!important;
}

.fa-angle-right {
    color: #757575;
}

.link-to-subcategories {
    color: #757575;
    margin-left: 5px;
}

.link-to-subcategories:hover {
    color: #9e9e9e;
}

#subcategories-links-row {
    padding-bottom: 5px !important;
}

.tabs .tab a {
    color: #ff6666!important;
}


/*  ///////   FOOTER   ///////  */

footer {
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 154px;
    background-color: #ff6666 !important;
}

.footer-height {
    height: 50%;
}

.footer-copyright .container a {
    text-decoration: none;
    color: #222;
}

.footer-copyright .container a:hover {
    color: #bdbdbd;
}

#nav-footer {
    background-color: #ff6666 !important;
}


/*  ///////   MEDIA QUERRIES   //////   */

@media (max-width: 470px) {
    .main-product-col {
        width: 100% !important;
    }
    .main-product-image {
        width: 200px !important;
        height: 130px !important;
    }
    .main-products-card-content {
        height: 150px;
    }
    .product-card {
        height: 250px;
    }
    .single-product-image {
        width: 205px;
        height: 160px;
    }
    #single-product-name {
        font-size: 1.5rem;
    }
}

@media (min-width: 471px) and (max-width: 600px) {
    .main-product-image {
        width: 170px !important;
        height: 120px !important;
    }
    .main-products-card-content {
        height: 138px;
    }
    .product-card {
        height: 238px;
    }
}

@media(max-width: 601px) {
    .footer-copyright {
        height: 100px !important;
    }
    footer {
        height: 196px;
    }
    #outer {
        padding-bottom: 120px;
    }
    #link-k-org {
        display: block;
    }
    #dash {
        display: none;
    }
    #button-scroll {
        margin-left: auto;
        margin-right: auto;
    }
    #tlo h5 {
        font-size: 19px !important;
    }
}

@media(min-width: 601px) and (max-width: 850px) {
    .main-product-image {
        width: 140px !important;
        height: 110px !important;
    }
    .main-products-card-content {
        height: 127px;
    }
    .product-card {
        height: 227px;
    }
    #tlo {
        height: 500px;
    }
}

@media(max-width: 801px) {
    .shopping-basket-td {
        width: 100% !important;
        display: block;
        line-height: 0px;
        margin-top: 5px;
        padding: 15px 5px !important;
    }
    .shopping-basket-td img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .shopping-basket-td-qty {
        width: 100% !important;
        display: block;
        line-height: 0px;
        height: 45px;
        margin-top: 0px;
        padding: 15px 5px !important;
    }
    .shopping-basket-button {
        margin-top: -12px !important;
    }
    .shopping-basket-p-name {
        margin-left: 0px;
        line-height: 0px;
        margin-top: 15px;
        text-align: center;
    }
    .shopping-basket-img {
        width: 55px!important;
        height: 40px !important;
        float: none;
        margin-top: -8px;
    }
    .shopping-basket-p-qty {
        line-height: 15px;
    }
    #tlo {
        height: 465px;
    }
}

@media (min-width: 851px) and (max-width: 992px) {
    .main-product-image {
        width: 220px !important;
        height: 135px !important;
    }
    .product-card {
        height: 255px;
    }
    #tlo {
        height: 600px;
    }
}

@media(min-width: 993px) and (max-width: 1301px) {
    .main-product-image {
        width: 120px !important;
        height: 100px !important;
    }
    .main-products-card-content {
        height: 118px;
    }
    .product-card {
        height: 218px;
    }
    #tlo {
        height: 600px;
    }
}

@media(max-width: 1366px) {
    #divider-home {
        margin-top: -100px;
    }
    .hide-on-med-and-down {
        display: none !important;
    }
    nav a.button-collapse {
        display: block !important;
    }
}

@media (min-width: 472px) and (max-width: 1365px) {
    .single-product-image {
        width: 350px;
        height: 250px;
    }
}


/*@media only screen and (min-width: 1366px) {
  nav a.button-collapse {
    display: none;
  }
}*/

@media (min-width: 1302px) and (max-width: 1600px) {
    .main-product-image {
        width: 165px !important;
        height: 130px !important;
    }
    .main-products-card-content {
        height: 150px;
    }
    .product-card {
        height: 250px;
    }
}

@media(min-width: 1601px) {
    .main-product-image {
        width: 205px !important;
        height: 135px !important;
    }
}

#cookieinfo * {
    margin: 0px;
    padding: 0px;
}

#cookieinfo {
    font-size: 12px;
    font-family: Arial, Verdana, sans-serif;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: #323334;
    padding: 20px;
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
}

#cookieinfo h6 {
    font-size: 16px;
    font-weight: bold;
    color: #cdd7da;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    margin-bottom: 7px;
}

#cookieinfo p {
    font-size: 12px;
    color: #afb4bc;
    line-height: 1.5em;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
}

#cookieinfo a {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    line-height: 22px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #00b3b3;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

#cookieinfo a:hover {
    background-color: #2bbbad;
}
