<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <div class="row">
            <div class="col l12 m12 s12">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header">Drzewo kategorii</div>
                        <div class="collapsible-body">
                            <ul>
                                <li ng-repeat="cat in nestedCategories" ng-include="'namVal'">
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row centered scrollableTable">
            <blockquote>Lista kategorii</blockquote>
            <table class="highlight responsive-table centered">
                <thead>
                    <tr>
                        <th>Zdjęcie</th>
                        <th>Kategoria nadrzędna</th>
                        <th>Pozycja</th>
                        <th ng-repeat="(key, value) in categories[0].name">Tytuł {{key | uppercase}}</th>
                        <th ng-repeat="(key, value) in categories[0].description">Opis {{key | uppercase}}</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody class="categories">
                    <tr ng-repeat="p in categories" ng-init="p.edit = null">
                        <td><img ng-src="{{p.image_url}}" ng-if="!p.edit" />
                            <div class="file-field input-field" ng-if="p.edit">
                                <div class="btn">
                                    <span>Plik</span>
                                    <input type="file" id="file{{p.id}}">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-if="!p.edit">
                                <span ng-if="p.id_parent">{{searchByNameId(p.id_parent)}}</span>
                            <span ng-if="!p.id_parent">Brak</span>
                            </span>
                            <span ng-if="p.edit">
                                <div class="input-field col s12" style="width: 200px; margin-top: 0px;" input-field>
                                    <select class="" ng-model="parentCategory.id" material-select>
                                        <option value="" disabled selected>Wybierz kategorię</option>
                                        <option value="0">Brak kategorii</option>
                                        <option ng-repeat="cat in categories" ng-value="{{cat.id}}">{{cat.name.pl}}</option>     
                                     </select>
                                </div>
                            </span>
                        </td>
                        <td>
                            <h5>{{p.front_position}}</h5>
                            <button class="btn waves-effect waves-light buttonWithIcon greenButton left" ng-click="changeUpPosition(p.id, p.front_position)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                            <button class="btn waves-effect waves-light buttonWithIcon right" ng-click="changeDownPosition(p.id, p.front_position)"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                            <input class="" type="text" ng-model="newPosition.position" placeholder="Podaj pozycję" />
                            <button type="button" class="btn waves-effect waves-light buttonWithIcon greenButton" ng-click="setSequence(p.id, p.front_position)"><!-- <i class="fa fa-floppy-o" aria-hidden="true"></i> --> Ustaw</button>
                        </td>
                        <td ng-repeat="(key, value) in p.name"><span ng-if="!p.edit"><span ng-if="p.name[key]">{{p.name[key]}}</span><span ng-if="!p.name[key]">-</span></span>
                            <input ng-if="p.edit" type="text" ng-model="p.name[key]" />
                        </td>
                        <td ng-repeat="(key, value) in p.description"><span ng-if="!p.edit"><span ng-if="p.description[key]">{{p.description[key]}}</span><span ng-if="!p.description[key]">-</span></span>
                            <input ng-if="p.edit" type="text" ng-model="p.description[key]" />
                        </td>
                        <td class="optionsInTable">
                            <button type="button" ng-if="!p.edit" class="btn waves-effect waves-light" ng-click="editCategory(p)">Edytuj</button>
                            <button type="button" ng-if="p.edit" class="btn waves-effect waves-light buttonWithIcon greenButton" ng-click="selectPicture($index, p)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <!-- selectPicture($index, p) -->
                            <button type="button" ng-if="p.edit" class="btn waves-effect waves-light buttonWithIcon" ng-click="closeEditMode(p)"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td class="optionsInTable">
                            <button type="button" class="btn waves-effect waves-light" ng-click="deleteCategory(p)">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <blockquote>Dodawanie nowego produktu</blockquote>
            <table class="highlight responsive-table centered">
                <thead>
                    <tr>
                        <th>Zdjęcie</th>
                        <th>Kategoria nadrzędna</th>
                        <th ng-repeat="(key, value) in categories[0].name">Tytuł {{key | uppercase}}</th>
                        <th ng-repeat="(key, value) in categories[0].description">Opis {{key | uppercase}}</th>
                        <th>Dodaj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Plik</span>
                                    <input type="file" id="newFile">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12" style="width: 200px; margin-top: 0px;" input-field>
                                <select class="" ng-model="newItem.id_parent" material-select>
                                    <option value="" disabled selected>Wybierz kategorię</option>
                                    <option value="0">Brak kategorii</option>
                                    <option ng-repeat="cat in categories" ng-value="{{cat.id}}">{{cat.name.pl}}</option>
                                </select>
                            </div>
                        </td>
                        <td ng-repeat="(key, value) in categories[0].name">
                            <input type="text" ng-model="newItem.name[key]" />
                        </td>
                        <td ng-repeat="(key, value) in categories[0].description">
                            <input type="text" ng-model="newItem.description[key]" />
                        </td>
                        <td class="optionsInTable">
                            <button type="button" class="btn waves-effect waves-light" ng-click="addCategory()">Dodaj</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
