<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <blockquote>Skontaktuj się z nami !</blockquote>
        <div class="container">
            <div class="row">
                <form class="col l12 m12 s12">
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix"><i class="fa fa-user" aria-hidden="true"></i></i>
                            <input id="icon_prefix" type="text" class="validate" ng-model="contactData.subject">
                            <label for="icon_prefix">Temat</label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix"><i class="fa fa-envelope" aria-hidden="true"></i></i>
                            <input id="email" type="email" class="validate" ng-model="contactData.from">
                            <label for="email" data-error="wrong" data-success="right">Email</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix"><i class="fa fa-pencil" aria-hidden="true"></i></i>
                            <textarea id="icon_prefix2" class="materialize-textarea" ng-model="contactData.message"></textarea>
                            <label for="icon_prefix2">Treść</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row centered">
                <button class="btn waves-effect waves-light" type="button" ng-click="send()">Wyślij
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</div>
