<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <blockquote>
            <span ng-if="lang == 'pl'">Skontaktuj się z nami!</span>
            <span ng-if="lang == 'en'">Contact us!</span>
            <span ng-if="lang == 'ru'">связаться с нами!</span>
        </blockquote>
        <div class="container">
            <div class="row">
                <form class="col l12 m12 s12">
                    <div class="row">
                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </i>
                            <input id="icon_prefix" type="text" class="validate" ng-model="contactData.subject">
                            <label for="icon_prefix">
                                <span ng-if="lang == 'pl'">Temat</span>
                                <span ng-if="lang == 'en'">Subject</span>
                                <span ng-if="lang == 'ru'">тема</span>
                            </label>
                        </div>
                        <div class="input-field col l6 m6 s12">
                            <i class="material-icons prefix">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </i>
                            <input id="email" type="email" class="validate" ng-model="contactData.from">
                            <label for="email" data-error="wrong" data-success="right">
                                <span ng-if="lang == 'pl'">Email</span>
                                <span ng-if="lang == 'en'">Email</span>
                                <span ng-if="lang == 'ru'">е-мейл</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </i>
                            <textarea id="icon_prefix2" class="materialize-textarea" ng-model="contactData.message"></textarea>
                            <label for="icon_prefix2">
                                <span ng-if="lang == 'pl'">Treść</span>
                                <span ng-if="lang == 'en'">Content</span>
                                <span ng-if="lang == 'ru'">содержание</span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row centered">
                <button class="btn waves-effect waves-light" type="button" ng-click="send()">
                    <span ng-if="lang == 'pl'">Wyślij</span>
                    <span ng-if="lang == 'en'">Send</span>
                    <span ng-if="lang == 'ru'">послать</span>
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                </button>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col l4 m4 s12">
                    <blockquote>
                        <span ng-if="lang == 'pl'">Dane firmy</span>
                        <span ng-if="lang == 'en'">Company's data</span>
                        <span ng-if="lang == 'ru'">фирма</span>
                    </blockquote>
                    <p>ARGO Joanna i Krzysztof Purwin Sp.j.</p>
                    <p>ul. Karaszewicza-Tokarzewskiego 37c</p>
                    <p>31-985 Kraków, Polska</p>
                    <p>NIP. 678-314-98-61</p>
                    <p>REGON. 123029942</p>
                    <br>
                    <p ng-if="lang == 'pl'">Czynne:</p>
                    <p ng-if="lang == 'en'">Open:</p>
                    <p ng-if="lang == 'ru'">открытый:</p>
                    <p ng-if="lang == 'pl'">Biuro: poniedziałek-piątek, godz. 8-15</p>
                    <p ng-if="lang == 'en'">Office: monday-friday, in hours 8-15</p>
                    <p ng-if="lang == 'ru'">офис: понедельник-пятница, час. 8-15</p>
                    <p ng-if="lang == 'pl'">Produkcja, magazyn: poniedziałek-piątek, godz. 6-14</p>
                    <p ng-if="lang == 'en'">Manufacture, warehouse: monday-friday, in hours 6-14</p>
                    <p ng-if="lang == 'ru'">производство, склад: понедельник-пятница, час. 6-14</p>
                </div>
                <div class="col l4 m4 s12">
                    <blockquote>
                        <span ng-if="lang == 'pl'">Kontakt telefoniczny</span>
                        <span ng-if="lang == 'en'">Telephone contact</span>
                        <span ng-if="lang == 'ru'">Контакт по телефону</span>
                    </blockquote>
                    <p>tel./fax +48 12 655 56 05</p>
                    <p>tel./fax +48 12 659 08 22</p>
                    <p>tel./fax +48 12 653 06 02</p>
                    <p>
                        <span style="margin-right: 14px;"> mob.</span> +48 605 666 005</p>
                </div>
                <div class="col l4 m4 s12">
                    <blockquote>
                        <span ng-if="lang == 'pl'">Kontakt internetowy</span>
                        <span ng-if="lang == 'en'">Internet contact</span>
                        <span ng-if="lang == 'ru'">Контакт онлайн</span>
                    </blockquote>
                    <p>E-mail: biuro@argokrakow.com</p>
                    <p>Skype: argo-krakow</p>
                </div>
            </div>
            <div class="row" style="margin-top: 30px;">
                <div class="col l12 m12 s12">
                    <blockquote>
                        <span ng-if="lang == 'pl'">Mapa dojazdu</span>
                        <span ng-if="lang == 'en'">Map directions</span>
                        <span ng-if="lang == 'ru'">карта</span>
                    </blockquote>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2561.468376855596!2d20.14462295143433!3d50.05878942328783!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47164641d3540123%3A0x664ad1038ab68cf3!2sARGO+-+firma+produkcyjno+handlowa!5e0!3m2!1spl!2spl!4v1489158490158"
                        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>