<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <div class="row">
            <div class="col l8 m6 s12">
                <blockquote>Cechy produktów</blockquote>
            </div>
            <div class="row">
                <div class="col l6 features-product" ng-repeat="p in products">
                    <div class="card">
                        <div class="card-content feature-img">
                            <h5>{{p.name.pl}}</h5>
                            <img ng-src="{{p.image_url}}" class="z-depth-2">
                        </div>
                        <div>
                            <span ng-if="!p.properties">Brak cech niestandardowych</span>
                            <div class="row" ng-if="p.properties" ng-repeat="(key, value) in products[0].properties">
                                <div class="col s12 m5">
                                    <div class="card-panel teal">
                                        <span class="white-text">
                                            <!-- {{p.properties}} -->
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-tabs">
                            <blockquote>Dodawanie nowej cechy</blockquote>
                            <table class="highlight responsive-table centered">
                                <thead>
                                    <tr>
                                        <th ng-repeat="(key, value) in products[0].name">Nazwa cechy {{key | uppercase}}</th>
                                        <th ng-repeat="(key, value) in products[0].description">Wartość {{key | uppercase}}</th>
                                        <th>Dodaj</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td ng-repeat="(key, value) in products[0].name">
                                            <input type="text" ng-model="newItem.properties[p.propertiesCount][key].name" />
                                        </td>
                                        <td ng-repeat="(key, value) in products[0].name">
                                            <input type="text" ng-model="newItem.properties[p.propertiesCount][key].value" />
                                        </td>
                                        <td class="optionsInTable">
                                            <button type="button" class="btn waves-effect waves-light" ng-click="sendProperties(p.id)">Dodaj</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
