<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <blockquote>O nas</blockquote>
        <div class="container">
            <div class="row">
                <div class="col l12 m12 s12">
                    <h5 class="center">O firmie</h5>
                    <p>Historia naszej firmy sięga trzech pokoleń wstecz, kiedy to rzemieślnik Adam Ciechanowski założył firmę Argo. Jego syn poszerzył ofertę firmy o akcesoria malarskie, a w następnych latach nastąpił dalszy rozwój naszego przedsiębiorstwa. Argo jako producent profesjonalnych narzędzi i wałków malarskich oraz narzędzi budowlanych stawia przede wszystkim na najwyższą jakość oferowanych artykułów. Dbamy także o to, by ich ceny odpowiadały możliwościom Klientów. Współpracujemy z takimi sieciami jak Castorama i Leroy Merlin. Naszą markę doceniono też za granicą – produkty firmy Argo trafiają do Niemiec i Francji.</p>
                    <center><img src="img/1.jpg" class="z-depth-3" style="margin-top: 30px; margin-bottom: 30px"></center>
                    <div class="divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="col l12 m12 s12">
                    <h5 class="center">Historia</h5>
                    <p>Początki firmy ARGO sięgają trzech pokoleń wstecz. Założyciel - Adam Ciechanowski - był znanym rzemieślnikiem w Cechu Rzemieślników Krakowskich w latach dwudziestych. Zajmował się usługami ślusarskimi. Jego syn, Stefan Ciechanowski - następny właściciel ARGO - poszerzył działalność o produkcję wag oraz produkcję artykułów malarskich takich jak rynienki malarskie, skrobaki, szpachle. W roku 1977 ARGO przejął Edward Ciechanowski, obecny właściciel. Po rozeznaniu potrzeb rynkowych rozszerzył i zmienił nieco profil produkcji. Wałki futrzane, gąbkowe, kuwety, ociekacze, uchwyty do wałków i inne akcesoria malarskie firmy ARGO zaczęły wchodzić na rynek. ARGO ciągle wprowadza nowe technologie, nowe maszyny, nowe materiały - korzystając nie tylko z polskich osiągnięć w tej dziedzinie, ale także niemieckich czy francuskich. Priorytetem ARGO jest ciągłe podnoszenie jakości produkcji oraz dostosowanie cen do możliwości klienta. </p>
                    <div class="row">
                        <div class="col l3 m3 s6">
                            <center><img src="img/2.jpg" class="z-depth-3" style="margin-top: 30px;">
                                <p>Adam Ciechanowski</p>
                            </center>
                        </div>
                        <div class="col l3 m3 s6">
                            <center><img src="img/3.jpg" class="z-depth-3" style="margin-top: 30px;">
                                <p>Stefan Ciechanowski</p>
                            </center>
                        </div>
                        <div class="col l3 m3 s6">
                            <center><img src="img/4.jpg" class="z-depth-3" style="margin-top: 30px;">
                                <p>Janina Ciechanowska</p>
                            </center>
                        </div>
                        <div class="col l3 m3 s6">
                            <center><img src="img/5.jpg" class="z-depth-3" style="margin-top: 30px;">
                                <p>Edward Ciechanowski</p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
