<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <blockquote>O nas</blockquote>
        <div class="carousel carousel-slider center" data-indicators="true">
            <div class="carousel-item " href="#one!">
                <h2>O firmie</h2>
                <p class="dark-text">Historia naszej firmy sięga trzech pokoleń wstecz, kiedy to rzemieślnik Adam Ciechanowski założył firmę Argo. Jego syn poszerzył ofertę firmy o akcesoria malarskie, a w następnych latach nastąpił dalszy rozwój naszego przedsiębiorstwa. Argo jako producent profesjonalnych narzędzi i wałków malarskich oraz narzędzi budowlanych stawia przede wszystkim na najwyższą jakość oferowanych artykułów. Dbamy także o to, by ich ceny odpowiadały możliwościom Klientów. Współpracujemy z takimi sieciami jak Castorama i Leroy Merlin. Naszą markę doceniono też za granicą – produkty firmy Argo trafiają do Niemiec i Francji.</p>

            </div>
            <div class="carousel-item" href="#two!">
                <h2>Historia</h2>
                <p class="dark-text">Początki firmy ARGO sięgają trzech pokoleń wstecz. Założyciel - Adam Ciechanowski - był znanym rzemieślnikiem w Cechu Rzemieślników Krakowskich w latach dwudziestych. Zajmował się usługami ślusarskimi. Jego syn, Stefan Ciechanowski - następny właściciel ARGO - poszerzył działalność o produkcję wag oraz produkcję artykułów malarskich takich jak rynienki malarskie, skrobaki, szpachle.</p>
            </div>
            <div class="carousel-item " href="#three!">
                <h2>Nasze osiągnięcia</h2>
                <p class="white-text"></p>
            </div>
            <div class="carousel-item" href="#four!">
                <h2>Transport</h2>
                <p class="white-text"></p>
            </div>
        </div>
    </div>
</div>
