<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12 centered">
        <div id="tlo" class="col s12 m12 l12" style="background-image: url('img/tlo.jpg');">
            <!-- <img src="img/tlo.png"> -->
            <h5 style="margin-top: 0px; font-size: 34px;font-weight: bold; color: #EF2623;">
                <span ng-if="lang == 'pl'">Polski producent narzędzi malarskich i budowlanych</span>
                <span ng-if="lang == 'en'">Polish manufacturer of painting and construction tools</span>
                <span ng-if="lang == 'ru'">Польский производитель малярныx и строительныx инструментов</span>
            </h5>
            <button class="btn waves-effect waves-light" type="button" ui-sref="mainProducts" style="margin-top: 350px;">
                <span ng-if="lang == 'pl'">Zobacz produkty</span>
                <span ng-if="lang == 'en'">See products</span>
                <span ng-if="lang == 'ru'">Смотрите продукты</span>
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
        <div class="container">
            <div class="row">
                <div class="row ">
                    <div class="col l12 m12 s12">
                        <h5 class="center history-img " style="color: #EF2623;font-size: 27px;">
                            <span ng-if="lang=='pl' ">Witamy w firmie ARGO!</span>
                            <span ng-if="lang=='en' ">Welcome to the ARGO company!</span>
                            <span ng-if="lang=='ru' ">Приветствуем вас в фирмe АRGO!</span>
                        </h5>
                        <p class="homeText">
                            <span ng-if="lang=='pl' ">
                                <b>ARGO </b>już od wielu dziesięcioleci specjalizuje się w wytwarzaniu
                                <b>niezbędnych dla każdego fachowca, wysokiej jakości, profesjonalnych narzędzi malarskich i
                                    budowlanych
                                </b>. Stale doskonalimy nasze produkty i technologie, stosując wiele autorskich rozwiązań
                                wypracowanych przez lata praktyki. Robimy to po to, by nasze produkty były coraz doskonalsze
                                i zadowoliły wymagających profesjonalistów.
                            </span>
                            <span ng-if="lang=='en' ">
                                <b>ARGO</b> has for decades specialised in the
                                <b>manufacture of professional painting and building tools, that skilled hand-workers cannot
                                    do without</b>. ARGO constantly keeps introducing new technologies, modernising and extending
                                its machine park, and testing new and improved materials. Our priority has always been to
                                ensure top quality of production, and Client satisfaction – even demanding professionals.

                            </span>
                            <span ng-if="lang=='ru' ">
                                <b>АRGO</b> на протяжении многих десятилетий специализируется на изготовлении профессиональных,
                                малярных и строительныx
                                <b>инструментoв необходимых для каждого, настоящего специалиста</b>. Мы постоянно совершенствуем
                                наши продукты и технологии, используя много оригинальных решений, разработанных на протяжении
                                многих лет практики. Мы делаем все это, чтобы сделать нашу продукцию более совершенной и
                                удовлетворить требовательных специалистов.
                            </span>
                        </p>
                    </div>
                </div>
                <div id="divider-home " class="divider history-img "></div>
                <div carousel ng-repeat="p in products" ng-if="$index == 0">
                    <a class="carousel-item featured-products" href="javascript:void(0);" ng-repeat="p in products" ng-if="p.isNew" ng-init="isActive(p.name.pl)">
                        <img class="z-depth-3 " ng-src="{{p.image_url}} ">
                        <!-- <span ng-if="activeProduct==p .name.pl ">  -->
                        <p ui-sref="mainProducts({id : p.id}) " class="center ">
                            <span ng-if="lang=='pl' ">{{p.name.pl}}</span>
                            <span ng-if="lang=='en' ">{{p.name.en}}</span>
                            <span ng-if="lang=='ru' ">{{p.name.ru}}</span>
                        </p>
                        <!-- </span> -->

                    </a>
                </div>
                <div class="col l12 m12 s12">
                    <p class="homeText">
                        <span ng-if="lang=='pl' ">
                            <b>W naszej stałej ofercie proponujemy między innymi:
                                <span style="white-space: nowrap;">● wałki malarskie</span>
                            </b> wytwarzane w technologii termofuzji tzn. bez klejenia i bez szwu – ofertę dostosowaliśmy tak,
                            by można było dobrać wałek do każdego rodzaju farby i każdego podłoża
                            <b>
                                <span style="white-space: nowrap;">● uchwyty do wałków malarskich</span>
                            </b>o średnicach pręta Ø 6 mm i Ø 8 mm – uchwyty mogą współpracować z teleskopem malarskim
                            <span style="white-space: nowrap;">●
                                <b>wałki specjalne</b>
                            </span>, takie jak odpowietrzacze do wylewek, wałki tapetowe
                            <span style="white-space: nowrap;">●
                                <b>kuwety malarskie</b>
                            </span> w różnych rozmiarach i kolorach
                            <span style="white-space: nowrap;">●
                                <b>kratki malarskie</b>
                            </span> w różnych opcjach koloru
                            <b>
                                <span style="white-space: nowrap;">● szpachle nierdzewne i plastikowe</span>
                                <span style="white-space: nowrap;">● skrobaki z wymiennymi ostrzami</span>
                                <span style="white-space: nowrap;">● wiadra budowlane, malarskie i gospodarcze</span>
                            </b> o różnych pojemnościach i kształcie – na naszych wiadrach oferujemy opcję wykonania trwałego
                            nadruku (np. logo Państwa firmy, reklama)
                            <b>
                                <span style="white-space: nowrap;">● zestawy malarskie</span>

                            </b> z kratką lub z kuwetą i wałkiem – także zestawy ‘autorskie’ skomponowane wg pomysłu Klienta.
                        </span>
                        <span ng-if="lang=='en' ">
                            <b>In our permanent offer you find among others:
                                <span style="white-space: nowrap;">● paint rollers</span>
                            </b> produced by thermofusion methode ie. without glue and seamless – we adapted offer of our paint
                            rollers for every type of paints and different types of surfaces
                            <span style="white-space: nowrap;">●
                                <b>handles for paint rollers</b>
                            </span> with wire dimensions Ø 6 mm i Ø 8 mm – (can work with paint telescope)
                            <span style="white-space: nowrap;"> ●
                                <b>special rollers</b>
                            </span>, e.g. spiked rollers (gas remover), wallpaper’s rollers
                            <span style="white-space: nowrap;">●
                                <b>painting trays</b>
                            </span>many various sizes and colours
                            <span style="white-space: nowrap;">●
                                <b>painting grids </b>
                            </span>in various colour options
                            <span style="white-space: nowrap;">●
                                <b>putty knifes</b>
                            </span>– stainless and plastic
                            <b>
                                <span style="white-space: nowrap;">● scrapers with replaceable blades</span>
                                <span style="white-space: nowrap;"> ● buckets:</span>
                            </b> building, painting and household with different capacities and shapes – On our buckets: building
                            and household, we offer the option of lasting oveprint (eg advertising, logo of your company)
                            <span style="white-space: nowrap;">●
                                <b>painting sets</b>
                            </span> with grid or tray and paint roller – also sets completed according to original Clients idea.
                        </span>
                        <span ng-if="lang=='ru' ">
                            <b>В нашем постоянном предложении Вы найдете в частности:
                                <span style="white-space: nowrap;">● малярные валики</span>
                            </b> изготовленые по технологии ‘теpмoфyзии’ без клея и без швов – мы скорректировали наше предложение,
                            чтобы вы могли выбрать валик для каждого типа краски и каждого субстрата
                            <span style="white-space: nowrap;">●
                                <b>ручки для малярныx валиков</b>
                            </span> с диаметром стержня Ø 6 мм Ø 8 мм – они могут работать с малярным телескопом
                            <span style="white-space: nowrap;">●
                                <b>специальные валики</b>
                            </span>– например игольчатыйe валики вентиляционныe, валики для обоев
                            <span style="white-space: nowrap;">●
                                <b>малярныйe кюветы</b>
                            </span> – разные размеры и цвета
                            <span style="white-space: nowrap;">●
                                <b>малярныйe решетки</b>
                            </span> – два размера в разных цветовых вариантах
                            <b>
                                <span style="white-space: nowrap;">● шпательи нержавеющые</span> и пластмаcoвые
                                <span style="white-space: nowrap;">● малярныйe cкребки</span>
                            </b> со сменными лезвиями
                            <b>
                                <span style="white-space: nowrap;">● bедрa: малярныйe, строительныйe и</span>
                            </b> xозяйственныйe – на наших ведраx: строительныx и xозяйственныx мы предлагаем возможность постоянной
                            печати (например: рекламу, логотипa Вашей компании)
                            <b>
                                <span style="white-space: nowrap;">● малярныйe наборы</b> с решеткой или с кюветой и роликом – также «оригинальные» наборы,
                            составленные в соответствии с идеей Клиента.
                            </span>
                    </p>
                    <p class="homeText">
                        <span ng-if="lang=='pl' ">
                            Stawiamy przede wszystkim na
                            <b>najwyższą jakość</b> oferowanych artykułów i ich
                            <b>dostępność</b> dla naszych Klientów. Naszą ofertę kierujemy przede wszystkim do
                            <b>sektora B2B</b> – jeśli więc jesteś: przedsiębiorcą, dystrybutorem lub przedstawicielem hurtowni,
                            to szukasz firmy właśnie takiej, jak nasza i świetnie trafiłeś!
                        </span>
                        <span ng-if="lang=='en' ">
                            ARGO has always
                            <b>focused on product quality and and its availability for our Clients</b>. Our offer is primarily
                            addressed to the B2B sector – so, if you are:
                            <b>an entrepreneur, distributor or wholesaler representative</b>, then you are looking for a company
                            just like ours and
                            <b>you've come to the right place!</b>
                        </span>
                        <span ng-if="lang=='ru'">
                            Мы ориентируемся прежде всего на
                            <b>высокое качество предлагаемых продуктов и их доступность для наших Клиентов</b>. Наше предложение
                            в первую очередь адресовано сектору B2B, поэтому, если вы являетесь: представителем предпринимателя,
                            дистрибьютора или оптовикoм, тогда вы ищите компанию точно так же, как наша, и вы пришли в хорошее
                            место!

                        </span>
                    </p>
                    <p class="homeText">
                        <span ng-if="lang=='pl' ">
                            <b>Zapraszamy do zapoznania się z naszymi produktami i nawiązania z nami stałej współpracy!</b>

                            A my, tak jak zawsze, dołożymy starań byście Państwo byli zadowoleni i chcieli do nas wielokrotnie powracać. Przez ponad
                            100 lat tradycji naszej firmy dowiedzieliśmy się, jak świetnie to działa.
                        </span>
                        <span ng-if="lang=='en' ">
                            <b>We invite you to see our products and establish a permanent cooperation with us!</b>

                            And we, as always, will do our best to make you happy and want to come back to us many times. For over 100 years of our company's
                            tradition, we've learned how great it works.
                        </span>
                        <span ng-if="lang=='ru'">
                            <b>Мы приглашаем вас ознакомиться с нашими продуктами и наладить постоянное сотрудничество с нами!</b>
                            Мы, как всегда, сделаем все возможное, чтобы вы были довольными и хотели вернуться к нам много раз. На протяжении более 100
                            лет традиции нашей компании мы узнали, как отлично это работает.
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>