<div id="outer" class="row">
    <div id="mainHeader" class="col s12">
        <nav>
            <div class="nav-wrapper">
                <a ui-sref="main" class="brand-logo center"><img src="img/argo.png" /></a>
                <a href="" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars" aria-hidden="true"></i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li ng-repeat="item in mainMenuItems" ng-class="{'active' : currState == item.activeStateRule}">
                        <a href="" ng-click="changeState(item.uiSref)">
                            <span ng-if="lang == 'pl'">{{item.labelPl}}</span>
                            <span ng-if="lang == 'en'">{{item.labelEn}}</span>
                            <span ng-if="lang == 'ru'">{{item.labelRu}}</span>
                        </a>
                    </li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li ng-repeat="item in mainMenuItems" ng-class="{'active' : currState == item.activeStateRule}">
                        <a href="" ng-click="changeState(item.uiSref)">
                            <span ng-if="lang == 'pl'">{{item.labelPl}}</span>
                            <span ng-if="lang == 'en'">{{item.labelEn}}</span>
                            <span ng-if="lang == 'ru'">{{item.labelRu}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="mainlang" class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large z-depth-2" ng-repeat="l in globalLang" ng-if="l.selected" ng-style="{'background-image': 'url(' + l.flag + ')'}"></a>
            <ul>
                <li ng-repeat="l in globalLang" ng-if="!l.selected" ng-click="selectLang(l.langCode)">
                    <a class="btn-floating z-depth-2" ng-style="{'background-image': 'url(' + l.flag + ')'}"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="loader-wrapper" ng-if="preloaderCounter > 0">
        <img src="img/preloader.svg"></img>
    </div>
    <div class="ui-view-container">
        <div class="fade" ui-view>
        </div>
    </div>
</div>
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Argo</h5>
                <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lacinia egestas libero ut gravida. Phasellus pulvinar eros a dapibus eleifend. Quisque magna lacus, maximus ac efficitur tristique, laoreet eu augue. In id ex nunc. Donec mauris nisi, scelerisque mattis ipsum eu, malesuada mattis felis.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2017 Copyright Text
        </div>
    </div>
</footer>
