<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <div class="row">
            <div class="col l8 m6 s12">
                <blockquote>
                    <span ng-if="lang == 'pl'">Kategorie</span>
                    <span ng-if="lang == 'en'">Categories</span>
                    <span ng-if="lang == 'ru'">категории</span>
                </blockquote>
            </div>
            <div class="input-field col l4 m6 s12">
                <i class="material-icons prefix"><i class="fa fa-search" aria-hidden="true"></i></i>
                <input id="icon_prefix" type="text" class="validate" ng-model="contactData.subject">
                <label for="icon_prefix">
                    <span ng-if="lang == 'pl'">Wyszukaj produkt</span>
                    <span ng-if="lang == 'en'">Subject</span>
                    <span ng-if="lang == 'ru'">тема</span>
                </label>
            </div>
        </div>
        <!--<div class="row">
            <div class="col s12">
                <div class="col l4 m6 s12">
                    <ul class="collection">
                        <li class="collection-item avatar">
                            <span class="title">Wszystkie kategorie</span>
                            <a href="#!" class="secondary-content"></a>
                            <form action="#">
                                <p>
                                    <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
                                    <label for="filled-in-box"></label>
                                </p>
                            </form>
                        </li>
                        <li class="collection-item avatar" ng-repeat="p in categories">
                            <img ng-src="{{p.image_url}}" alt="" class="circle">
                            <span class="title">{{p.name.pl}}</span>
                            <a href="#!" class="secondary-content"></a>
                            <form action="#">
                                <p>
                                    <input type="checkbox" class="filled-in" id="{{p.name.pl}}" checked="checked" />
                                    <label for="{{p.name.pl}}"></label>
                                </p>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col l2 m6 s12"></div>
                <div class="col l3 m6 s12"></div>
                <div class="col l3 m6 s12"></div>
            </div>
        </div>-->
        <div class="row">
            <div class="col s12 m3 l2" ng-repeat="p in categories">
                <div class="card-panel teal">
                    <img ng-src="{{p.image_url}}" width="30px" class="circle">
                    <span class="white-text">{{p.name.pl}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l6" ng-repeat="p in products">
                <div class="card">
                    <div class="card-content history-img">
                        <h5>{{p.name.pl}}</h5>
                        <img ng-src="{{p.image_url}}" class="z-depth-2">
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab"><a class="active" href="#test5">Opis produktu</a></li>
                            <li class="tab"><a href="#test6">Więcej informacji</a></li>
                        </ul>
                    </div>
                    <div class="card-content grey lighten-4">
                        <div id="test5">{{p.description.pl}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
