<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12" ng-if="!singleProduct">
        <div class="row">
            <div class="col l8 m6 s12">
                <blockquote>
                    <span ng-if="lang == 'pl'">Kategorie</span>
                    <span ng-if="lang == 'en'">Categories</span>
                    <span ng-if="lang == 'ru'">категории</span>
                </blockquote>
            </div>
            <div class="input-field col l4 m6 s12">
                <i class="material-icons prefix"><i class="fa fa-search" aria-hidden="true"></i></i>
                <input id="icon_prefix" type="text" class="validate" ng-model="search">
                <label for="icon_prefix">
                    <span ng-if="lang == 'pl'">Wyszukaj produkt</span>
                    <span ng-if="lang == 'en'">Subject</span>
                    <span ng-if="lang == 'ru'">тема</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card-panel waves-effect waves-light" ng-click="changeAllCategory()" ng-class="{'active-category' : allCategory}">
                    <p style="padding-top: 22.5px;padding-bottom: 22.5px;">Wszystkie kategorie</p>
                </div>
            </div>
            <div class="col s12 m6 l3" ng-repeat="cat in categories">
                <div class="waves-effect waves-light card-panel" ng-click="changeCategory(cat.name.pl, cat.id)" ng-class="{'active-category' : category == cat.name.pl}">
                    <img ng-src="{{cat.image_url}}" width="30px" class="circle">
                    <p>{{cat.name.pl}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- ng-class="{'more-product' : currProd, 'less-product' : !currProd}" -->
            <div class="col l6" ng-if="p.categoryId == categoryId || allCategory" ng-repeat="p in products | filter : search">
                <div class="card product-card" ui-sref="mainProducts({id : p.id})">
                    <div class="card-content history-img">
                        <h5>{{p.name.pl}}</h5>
                        <img ng-src="{{p.image_url}}" class="z-depth-2">
                    </div>
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab">
                                <a ui-sref="mainProducts({id : p.id})" ng-click="">Więcej informacji</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content center grey lighten-4">
                        <div id="test5">{{p.description.pl}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page col s12 m12 l12" ng-if="singleProduct">
        <div class="row">
            <div class="col l6 more-product" ng-repeat="p in products" ng-if="p.id == currentProductId">
                <div class="card">
                    <div class="card-content feature-img">
                        <button class="btn waves-effect waves-light right" type="button" ui-sref="mainProducts({id : undefined})">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                        <div class="row">
                            <div class="col l5 left">
                                <h5 style="font-size: 2.20rem;">{{p.name.pl}}</h5>
                                <img ng-src="{{p.image_url}}" class="z-depth-2 materialboxed" materialboxed style="width: 80%;">
                            </div>
                            <div class="col l7">
                           <!--      <span ng-if="lang == 'pl'">{{p.description.pl}}</span>
                                <span ng-if="lang == 'en'">{{p.description.en}}</span>
                                <span ng-if="lang == 'ru'">{{p.description.ru}}</span> -->
                                <ul class="collapsible" data-collapsible="accordion" style="margin-top: 25px;">
                                    <li ng-repeat="p in products" ng-if="p.id == currentProductId">
                                        <div class="collapsible-header">Kod Kreskowy</div>
                                        <div class="collapsible-body">
                                            <p>{{p.barcode}}</p>
                                        </div>
                                    </li>
                                    <li ng-repeat="p in products" ng-if="p.id == currentProductId">
                                        <div class="collapsible-header">Kod produktu</div>
                                        <div class="collapsible-body">
                                            <p>{{p.productCode}}</p>
                                        </div>
                                    </li>
                                    <li ng-repeat="p in products" ng-if="p.id == currentProductId">
                                        <div class="collapsible-header">Opis produktu</div>
                                        <div class="collapsible-body">
                                            <p>{{p.description.pl}}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
