<div id="outer" class="row subpage">
    <div class="page col s12 m12 l12">
        <div class="row centered scrollableTable">
            <blockquote>Lista produktów</blockquote>
            <table class="highlight responsive-table centered">
                <thead>
                    <tr>
                        <th>Zdjęcie</th>
                        <th>Kategoria</th>
                        <th>Promowany</th>
                        <th>Pozycja</th>
                        <th>Kod kreskowy</th>
                        <th>Kod produktu</th>
                        <th ng-repeat="(key, value) in products[0].name">Tytuł {{key | uppercase}}</th>
                        <th ng-repeat="(key, value) in products[0].description">Opis {{key | uppercase}}</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody class="products">
                    <tr ng-repeat="p in products" ng-init="p.edit = null">
                        <td><img ng-src="{{p.image_url}}" ng-if="!p.edit" />
                            <div class="file-field input-field" ng-if="p.edit">
                                <div class="btn">
                                    <span>Plik</span>
                                    <input type="file" id="file{{p.id}}">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <span ng-show="!p.edit && cat.id == p.categoryId" ng-repeat="cat in categories">{{cat.name.pl}}</span>
                            <span ng-if="p.edit">
                                <div class="input-field col s12" style="width: 200px; margin-top: 0px;" input-field>
                                    <select class="" ng-model="p.categoryId" material-select>
                                        <option value="" disabled selected>Wybierz kategorię</option>
                                        <option ng-repeat="cat in categories" ng-value="{{cat.id}}">{{cat.name.pl}}</option>
                                    </select>
                                 </div>
                            </span>
                        </td>
                        <td><span ng-if="!p.edit"><span ng-if="p.isNew">tak</span><span ng-if="!p.isNew">nie
                        </span></span>
                            <div class="switch" ng-if="p.edit">
                                <label>
                                    Nie
                                    <input type="checkbox" ng-model="p.isNew">
                                    <span class="lever"></span> Tak
                                </label>
                            </div>
                        </td>
                        <td>
                            <h5>{{$index + 1}}</h5>
                            <button class="btn waves-effect waves-light buttonWithIcon greenButton left" ng-click="changeUpPosition(p, $index)"><i class="fa fa-arrow-up" aria-hidden="true"></i>
                            </button>
                            <!-- <span>{{$index + 1}}</span> -->
                            <button class="btn waves-effect waves-light buttonWithIcon right" ng-click="changeDownPosition(p, $index)"><i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </button>
                            <input class="" type="text" ng-model="newPosition.position" placeholder="Podaj pozycję" />
                            <button type="button" class="btn waves-effect waves-light buttonWithIcon greenButton" ng-click="setSequence(p.id, p.categoryId, $index)">
                                <!-- <i class="fa fa-floppy-o" aria-hidden="true"></i> -->Ustaw</button>
                        </td>
                        <td><span ng-if="!p.edit"><span ng-if="p.barcode">{{p.barcode}}</span><span ng-if="!p.barcode">-</span></span>
                            <input ng-if="p.edit" type="text" ng-model="p.barcode" />
                        </td>
                        <td><span ng-if="!p.edit"><span ng-if="p.productCode">{{p.productCode}}</span><span ng-if="!p.productCode">-</span></span>
                            <input ng-if="p.edit" type="text" ng-model="p.productCode" />
                        </td>
                        <td ng-repeat="(key, value) in p.name"><span ng-if="!p.edit"><span ng-if="p.name[key]">{{p.name[key]}}</span><span ng-if="!p.name[key]">-</span></span>
                            <input ng-if="p.edit" type="text" ng-model="p.name[key]" />
                        </td>
                        <td ng-repeat="(key, value) in p.description"><span ng-if="!p.edit"><span ng-if="p.description[key]">{{p.description[key]}}</span><span ng-if="!p.description[key]">-</span></span>
                            <input ng-if="p.edit" type="text" ng-model="p.description[key]" />
                        </td>
                        <td class="optionsInTable">
                            <button type="button" ng-if="!p.edit" class="btn waves-effect waves-light" ng-click="editProduct(p)">Edytuj</button>
                            <button type="button" ng-if="p.edit" class="btn waves-effect waves-light buttonWithIcon greenButton" ng-click="selectPicture($index, p)"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            <button type="button" ng-if="p.edit" class="btn waves-effect waves-light buttonWithIcon" ng-click="closeEditMode(p)"><i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td class="optionsInTable">
                            <button type="button" class="btn waves-effect waves-light" ng-click="deleteProduct(p)">Usuń</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <blockquote>Dodawanie nowego produktu</blockquote>
            <table class="highlight responsive-table centered">
                <thead>
                    <tr>
                        <th>Zdjęcie</th>
                        <th>Kategoria</th>
                        <th>Promowany</th>
                        <th>Kod kreskowy</th>
                        <th>Kod produktu</th>
                        <th ng-repeat="(key, value) in products[0].name">Tytuł {{key | uppercase}}</th>
                        <th ng-repeat="(key, value) in products[0].description">Opis {{key | uppercase}}</th>
                        <th>Dodaj</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="file-field input-field">
                                <div class="btn">
                                    <span>Plik</span>
                                    <input type="file" id="newFile">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="input-field col s12" style="width: 200px; margin-top: 0px;" input-field>
                                <select class="" ng-model="newItem.categoryId" material-select>
                                    <option value="" disabled selected>Wybierz kategorię</option>
                                    <option ng-repeat="cat in categories" ng-value="{{cat.id}}">{{cat.name.pl}}</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="switch">
                                <label>
                                    Nie
                                    <input type="checkbox" ng-model="newItem.isNew">
                                    <span class="lever"></span> Tak
                                </label>
                            </div>
                        </td>
                        <td>
                            <input type="text" ng-model="newItem.barcode" />
                        </td>
                        <td>
                            <input type="text" ng-model="newItem.productCode" />
                        </td>
                        <td ng-repeat="(key, value) in products[0].name">
                            <input type="text" ng-model="newItem.name[key]" />
                        </td>
                        <td ng-repeat="(key, value) in products[0].description">
                            <input type="text" ng-model="newItem.description[key]" />
                        </td>
                        <td class="optionsInTable">
                            <button type="button" class="btn waves-effect waves-light" ng-click="addProduct()">Dodaj</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>